/* styles.css */
body {
    background-color: lightblue;
    font-family: verdana;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.content {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}
